h3 {
  text-align: center;
}

body {
  background-image: url(../Images/movie-theater-film-reel-background-in-seamless-loop_xk6ivnb9__F0000.png);
  text-align: center;
}

.container {
  text-align: center;
}

.jumbotron {
  color: gold;
}

.container2 {
  background-color: rgba(0, 0, 255, 0.452);
  margin: 50px;
}
